@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  font-family: 'Manrope', sans-serif;
  background-color: #ffffff;
  color: #1a1a1a;
}

h1, h2, h3, .brand-font {
  font-family: 'Outfit', sans-serif;
}

/* Hide scrollbar for clean horizontal scrolling areas */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}